services:
  magni_bidge:
    build:
      context: ..
      dockerfile: docker/ros1-ros2-bridge-image/Dockerfile
    environment:
      ROS_MASTER_URI: "http://192.168.0.103:11311"
      ROS_IP: "192.168.0.106"
    network_mode: host
  magni_base:
    build:
      context: ..
      dockerfile: docker/ros2-magni-base-image/Dockerfile
  magni_overlay:
    build:
      context: ..
      dockerfile: docker/ros2-magni-overlay-image/Dockerfile
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1   # Verhindert Shared-Memory Probleme
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw   # X11 Socket
      - ../config:/magni_ros2_ws/install/magni_description/share/magni_description/config:rw
      - ../scripts:/scripts:r
    network_mode: host